.full-width {
  width: 100%;
}

mat-card {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
}

.botao-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.espacador {
  flex: 1;
}
